/* Common */
.hidden {
    opacity: 0;
    transition: 0.5s all ease-in;
}

/* Header */
#app-header {
    display: flex;
    height: 2em;
    justify-content: center;
    transition: 0.5s all ease-in;
}

#app-header img {
    width: 1em;
}

#app-header h1 {
    color: #fff;
    font: .8em 'Exo', sans-serif;
    margin: auto 0.1em;
    text-transform: uppercase;
}

/* Panel */


/* Playground */
#playground {
    align-items: flex-end;
    background: #e5e5e5;
    border-radius: 1em;
    display: flex;
    height: 25em;
    margin: 0 auto;
    justify-content: space-around;
    width: 60em;
    transition: 0.5s all ease-in;
}

#playground .tower {
    background: black;
    border-left: 9em solid #e5e5e5;
    border-right: 9em solid #e5e5e5;
    border-bottom: 2em solid black;
    width: 15em;
    height: 22em;
    transition: 0.5s all ease-in;
}

#playground .tower .disc {
    height: 1.0em;
    position: relative;
}